@page
@using Entities.Models.Conversation
@model AdoptPet.Pages.Conversations.IndexModel

@{
	ViewData["Title"] = "Wiadomości";
}

<div class="container ">
 <div class="row justify-content-center">
		@if (!Model.Chats.Any())
		{
	  <h3>Pusta lista wiadomości</h3>
		}
		else
		{
			@foreach (var chat in Model.Chats)
			{
		  <div class="row" style="border:1px solid green; padding:10px 10px; margin-left:20px; width: 330px;">
		   <div class="col align-self-center">
			<img src="/images/@chat.AdId/@chat.Ad.Images.SingleOrDefault().Name" class="rounded chatImage" alt="@chat.Ad.Images.SingleOrDefault().Name" />
			<br />
			<a asp-page="/Ads/Details" asp-route-link="@chat.Ad.NormalizedLink">
			 <h6>@chat.Ad.Title</h6>
			</a>
			Konwersacja z użytkownikiem: 
			<br />
			@if (chat.CreatedByUserId == Model.currentUserId)
						{
							@chat.AdOwnerUsername
						}
						else
						{
							@chat.UsernameOfCreator
						}
			@* check status of last msg to blink text block *@
			<br />
			@if(chat.Messages.Any())
			{
			@if(chat.Messages.OrderByDescending(m=>m.DateOfSending).Select(m=>m.SendByUserId).FirstOrDefault() != Model.currentUserId)
			{
					<b class="@(chat.Messages.OrderByDescending(m => m.DateOfSending).Select(m => m.Status).FirstOrDefault() == Message.ChatStatus.Nieodczytane ? "UnreadMessage" : "")">Ostatnia wiadomość z</b>

			}
			else
			{
				<b>Ostatnia wiadomość z</b>
			}
			<br />
				@chat.Messages.OrderByDescending(m=>m.DateOfSending).Select(m=>m.DateOfSending).FirstOrDefault()
			<br />

			<p style="margin-bottom:0">
							<strong>@chat.Messages.OrderByDescending(m=>m.DateOfSending).Select(m=>m.UsernameOfSender).FirstOrDefault():</strong>
							@chat.Messages.OrderByDescending(m=>m.DateOfSending).Select(m=>m.TextMessage.Substring(0,Math.Min(20,m.TextMessage.Length))+ "...").FirstOrDefault()
			</p>
			}
			<br />
						@if (chat.CreatedByUserId == Model.currentUserId)
						{
							<form asp-page-handler="delete" asp-route-id="@chat.Id" method="post">
							<input type="image" class="btn btn-outline-dark trashWatchItem" src="/assets/trash.svg" />
							</form>
						}
			<!-- redirect to messages-->
				<a asp-page="./Messages" asp-route-chatId="@chat.Id" class="btn btn-outline-dark forwardWatchItem">
			 <img class="bi bi-box-arrow-in-right forwardWatchItem" src="./assets/box-arrow-in-right.svg" />
			</a>
		   </div>
		  </div>
			}
		}
 </div>
</div>
