@page
@model AdoptPet.Pages.Manage.IndexModel
@{
	ViewData["Title"] = "Panel moderacyjny";
}


<div class="container ">
 <div class="row justify-content-right">
		@if (User.IsInRole("Administrators"))
		{
	  <div class="col-sm">
	   <h4>Nadaj bądź pozbaw uprawnień moderatorskich</h4>
	  </div>
	  <div class="col-sm">
	   <h5>Użytkownicy</h5>
	   <nav>
		<ul class="usersList">
						@foreach (var users in Model.Users)
						{
			 <li>@users.Username</li>
						}
		</ul>
	   </nav>
	   <form asp-page-handler="AddModerator" method="post">
		<input type="text" name="email" value="" placeholder="Adres e-mail" />
		<button class="btn btn-danger">Dodaj</button>
	   </form>
	   		  <br /><br />
	  </div>
	  <div class="col-sm">
	   <h5>Moderatorzy</h5>
	   <nav>
		<ul class="usersList">
						@foreach (var users in Model.Moderators)
						{
			 <li>@users.Username</li>
						}
		</ul>
	   </nav>
	   <form asp-page-handler="RemoveModerator" method="post">
		<input type="text" name="email" value="" placeholder="Adres e-mail" />
		<button class="btn btn-warning">Usuń</button>
	   </form>
	  </div>
		}
 </div>
  <div class="row justify-content-right">
		@if (User.IsInRole("Administrators") || User.IsInRole("Managers"))
		{
	  <div class="col-sm">
	   <h4>Dodaj lub usuń rasę bądź gatunek</h4>
	   <span>W nawiasie znajduje się liczba ogłoszeń odpowiadającym danej rasie (również te, które nie zostały jeszcze zaakceptowane). Podczas usuwania rasy odpowiadającym jej ogłoszeniom zostanie nadana rasa "Inne"</span>
	  </div>
	  <div class="col-sm">
	   <h5>Rasa</h5>
	   <nav>
		<ul class="usersList">
						@foreach (var breed in Model.Breeds)
						{
			 <li>@breed.Name, @breed.AnimalSpecies (@breed.CountOfAds)</li>
						}
		</ul>
	   </nav>
	   <form method="post">
		<input type="text" name="name" value="" placeholder="Wpisz rasę" />
		<button class="btn btn-info" type="button" id="showMenu">Akcja</button>
		<div class="menuAnimalSpecies">
		<select name="animalId" data-val-required="Wybór gatunku jest wymagany">
	  @foreach (var animal in Model.Animals)
						{
							<option value="@animal.Id">@animal.Species</option>
						}
  </select>
  		<button asp-page-handler="AddBreed" class="btn btn-danger">Dodaj</button>
		<button asp-page-handler="RemoveBreed" class="btn btn-warning">Usuń</button>
  </div>
	   </form>
	   		  <br /><br />
	  </div>
	  <div class="col-sm">
	   <h5>Gatunek</h5>
	   <nav>
		<ul class="usersList">
						@foreach (var animal in Model.Animals)
						{
			 <li>@animal.Species</li>
						}
		</ul>
	   </nav>
	   <form method="post">
		<input type="text" name="name" value="" placeholder="Dodaj gatunek" />
		<button asp-page-handler="AddAnimal" class="btn btn-success">Dodaj</button>
	   </form>
	  </div>
		}
 </div>
</div>

<script>
	$(document).ready(function(){
  showHideAnimalSpecies();
});

</script>