@page
@model AdoptPet.Pages.Ads.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ad</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.NormalizedLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.NormalizedLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Sterilization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Sterilization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Deworming)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Deworming)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.AvailableFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.AvailableFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.LastModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Breed.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Place.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ad.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
