@page
@model AdoptPet.Pages.Ads.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
 <dl class="row">
  <dd class="col-sm-6">
   <h4>@Html.DisplayFor(model => model.Ad.Title)</h4>
  </dd>
  <dd class="col-sm-2">
   <label>
				@Html.DisplayFor(model => model.Ad.AvailableFrom)
   </label>
   <label>
			@if(Model.Owner.PhoneNumber==null)
			{
				<text>Brak numeru telefonu</text>			
			}
			else if (User.Identity.IsAuthenticated)
			{
				<text>Nr tel.</text>@Html.DisplayFor(model=>model.Owner.PhoneNumber)
			}
			else
			{
				<text>Zaloguj się aby wyświetlić numer telefonu</text>
			}
   </label>
  </dd>
  <dd class="col-sm-1">
			@Html.DisplayFor(model=>model.Ad.Status)
  </dd>
  <dd class="col-sm-1">
			@if (Model.Ad.Status != AdStatus.Zatwierdzone)
			{
				@if ((await AuthorizationService.AuthorizeAsync(User, Model.Ad, UserOperations.Approve)).Succeeded)
				{
		   <form style="display:inline" method="post">
			<input type="hidden" name="id" value="@Model.Ad.Id" />
			<input type="hidden" name="status" value="@AdStatus.Zatwierdzone" />
			<button type="submit" class="btn btn-sm btn-success">Zatwierdź</button>
		   </form>
				}
			}

			@if (Model.Ad.Status != AdStatus.Odrzucone)
			{
				@if ((await AuthorizationService.AuthorizeAsync(User, Model.Ad, UserOperations.Reject)).Succeeded)
				{
		   <form style="display:inline" method="post">
			<input type="hidden" name="id" value="@Model.Ad.Id" />
			<input type="hidden" name="status" value="@AdStatus.Odrzucone" />
			<button type="submit" class="btn btn-sm btn-danger">Odrzuć</button>
		   </form>
				}
			}
  </dd>
  <dd class="col-sm-2">
			@if (User.Identity.IsAuthenticated && Model.currentUserId!=Model.Owner.Id && Model.Ad.Status.Equals(AdStatus.Zatwierdzone))
			{
				   <form asp-page-handler="AddWatchedItem" asp-route-adId="@Model.Ad.Id" asp-route-currentUserId="@Model.currentUserId" method="post">
						  <input type="image" class="btn btn-outline-dark" src="/assets/bag-heart.svg" />
			</form>
			}
  </dd>
 </dl>
 <hr />
 <dl class="row">
  <dt class="col-sm-1">
   Opis
  </dt>
  <dd class="col-sm-5">
			@Html.DisplayFor(model => model.Ad.Description)
  </dd>
  <dd class="col-sm-6" style="padding-bottom:30px">
   <div class="carousel slide" id="gallery" data-interval="5000" data-touch="true" data-ride="carousel">
	<div class="carousel-inner">
					@foreach (var image in Model.Images)
					{
		 <div class="carousel-item @if(Model.Images.First()==image) {<text>active</text>}">
		  <a class="pop">
		   <img style="" class="d-block w-100" src="/images/@Model.Ad.Id/@image.Name" id="myImg" alt="@image.Name" />
		  </a>
		 </div>
					}
	</div>
	<a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
	 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	 <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
	 <span class="carousel-control-next-icon" aria-hidden="true"></span>
	 <span class="sr-only">Next</span>
	</a>
   </div>
  </dd>
 </dl>
 <dl class="row">

  <dt class="col-sm-2">
   Sterylizacja
  </dt>
  <dd class="col-sm-2">
			@Html.DisplayFor(model => model.Ad.Sterilization)
  </dd>
  <dt class="col-sm-2">
   Odrobaczenie
  </dt>
  <dd class="col-sm-2">
			@Html.DisplayFor(model => model.Ad.Deworming)
  </dd>

  <dt class="col-sm-2">
   Gatunek, rasa
  </dt>
  <dd class="col-sm-2">
			@Html.DisplayFor(model => model.Ad.Breed.Animal.Species),
			@Html.DisplayFor(model => model.Ad.Breed.Name)
  </dd>
  <dt class="col-sm-3">
   Wiek w latach
  </dt>
  <dd class="col-sm-3">
			@if (@Model.Ad.AgeAnimal < 12)
			{
	   <span>Mniej niż rok</span>
			}
			else
			{
				var monthsToYears = Model.Ad.AgeAnimal / 12;
				@Html.DisplayFor(model=>monthsToYears)
			}
  </dd>
  <dt class="col-sm-3">
   Płeć
  </dt>
  <dd class="col-sm-3">
			@Html.DisplayFor(model=>model.Ad.GenderAnimal)
  </dd>
  <dt class="col-sm-2">
   Lokalizacja
  </dt>
  <dd class="col-sm-6">
			@Html.DisplayFor(model => model.Ad.Place.Name), powiat
			@Html.DisplayFor(model => model.Ad.Place.District.Name),
			@Html.DisplayFor(model => model.Ad.Place.District.Province.Name),
  </dd>
 </dl>
 <div>
		@if ((await AuthorizationService.AuthorizeAsync(User, Model.Ad, UserOperations.Update)).Succeeded)
		{
	  <a asp-page="./Edit" asp-route-id="@Model.Ad.Id">Edytuj</a>
			<text> | </text>
		}
  <a asp-page="./Index">Wróć do strony głównej</a>
 </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-body">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<img src="" class="imagepreview" style="width: 100%;">
   </div>
  </div>
 </div>
</div>

<script>
 $(function() {
   $('.pop').on('click', function() {
	$('.imagepreview').attr('src', $(this).find('img').attr('src'));
	$('#imagemodal').modal('show');
   });
 });
</script>

