@page
@model AdoptPet.Pages.Ads.IndexModel

@{
    ViewData["Title"] = "AdoptPet";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad[0].AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad[0].Breed.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad[0].Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ad) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-link="@item.NormalizedLink">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                <a asp-asp-route-id="@item.Id" data-toggle="modal" data-target="#deleteModal">Usuń modal...</a>
            </td>
        </tr>
}
    </tbody>
    </table>

    <div class="container d-flex">
        <div class="row justify-content-center">
            @foreach(var item in Model.Ad)
    {
        <div class="col-md-4 text-center" id="gridAd">
            <div class="posterImage">
                              <a asp-page="./Details" asp-route-link="@item.NormalizedLink">
                <img src="/images/@item.Id/@item.Images.SingleOrDefault().Name" id="myImg" alt="@item.Images.SingleOrDefault().Name"/>
                </a>
                <span style="text-align:center">@item.Title <br />@item.Breed.Animal.Species, @item.Breed.Name<br /></span>
                <span style="text-align:left;font-size:10px">@item.AvailableFrom.ToString("dddd, dd MMMM yyyy")<br /></span>
                <span style="text-align:right; font-size:10px">@item.Place.Name, @item.Place.District.Name</span>
            </div>
    </div>
    }
    </div>
    </div>


    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Usunięcie ogłoszenia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ciało modalu!!!!!!!!!!!!!!!!111
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-danger">Usuń</button>             
                </div>
            </div>
        </div>
    </div>