@page
@model AdoptPet.Pages.Ads.IndexModel

@{
    ViewData["Title"] = "Panel ogłoszeń";
}

<p>
    <a asp-page="Create" class="btn btn-success btn-sm">Dodaj nowe ogłoszenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Dodane
            </th>
            <th>
                Rasa
            </th>  
            <th>
                Status
            </th>
            <th>
                Operacje
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ad) {
    var tm = "#myModal" + item.Id;
    var mid = "myModal" + item.Id;    
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Status)
            </td>
            <td>
                <div class="row">
                @if((await AuthorizationService.AuthorizeAsync(User,item,UserOperations.Update)).Succeeded && item.Status != AdStatus.Odrzucone)
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edytuj</a>
                    <text>&nbsp;|&nbsp;</text>
                }             
                <a asp-page="./Details" asp-route-link="@item.NormalizedLink" class="btn btn-info btn-sm">Szczegóły</a>

                @if((await AuthorizationService.AuthorizeAsync(User,item, UserOperations.Delete)).Succeeded)
                {
                    <text>&nbsp;|&nbsp;</text>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm" @if(item.Status == AdStatus.Zatwierdzone){<text>disabled</text>}>Usuń</button>  
                }
                 </div>
                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <h5 class="modal-title">Usuwanie ogłoszenia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                            </div>
                            <div class="modal-body">
                                    Czy na pewno usunąć ogłoszenie?
                   @Html.DisplayFor(modelItem=>item.Title)
                            </div>
                            <div class="modal-footer">
                                        <form asp-page-handler="delete" asp-route-Id="@item.Id" method="post">
            <button class="btn btn-danger">Usuń</button>
        </form>
                                <button type="button" class="btn btn-dark" data-dismiss="modal">Anuluj</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
    </table>
